{% extends 'base.html' %}

{% block title %}
{{ event.event_name }}
{% endblock %}

{% block header_title %}
{{ event.event_name }}
{% endblock %}

{% block header_subtitle %}
<div>{{ event.start_date }}</div>
<div>{{ event.city }}, {{ event.state }}</div>
{% endblock %}

{% block content %}

{% if races %}
    {% for race in races %}
    <div class="container">{{race.distance}} {{race.distance_units}} on {{race.race_date}}</div>
        <ul class="list-group">
            <li class="list-group-item">
                Rider: {{race.rider.rider_name}}
            </li>
        </ul>
    </div>
    {% endfor %}
{% else %}
    <div>This event has not been registered for.</div>
{% endif %}
{% endblock %}
